In [ ]:
import pandas as pd

In [ ]:
matches = pd.read_csv('/content/cleaned_matches.csv')
deliveries = pd.read_csv('/content/cleaned_deliveries.csv')

In [ ]:
matches['match_id'] = range(1, len(matches) + 1)

In [ ]:
matches.to_csv('/content/updated_matches.csv', index=False)

In [ ]:
matches.head()

,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,is_super_over,margin_per_ball,match_id
0,2007/08,Bangalore,18-04-2008,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140,223,20.0,N,False,1.166667,1
1,2007/08,Chandigarh,19-04-2008,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33,241,20.0,N,False,0.275000,2
2,2007/08,Delhi,19-04-2008,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9,130,20.0,N,False,0.075000,3
3,2007/08,Mumbai,20-04-2008,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5,166,20.0,N,False,0.041667,4
4,2007/08,Kolkata,20-04-2008,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5,111,20.0,N,False,0.041667,5

In [ ]:
merged_df = pd.merge(deliveries, matches, on='match_id', how='inner')

In [ ]:
merged_df.to_csv('/content/merged_ipl_data.csv', index=False)

In [ ]:
merged_df.head()

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batter, bowler, non_striker, batsman_runs, extra_runs, total_runs, extras_type, is_wicket, player_dismissed, dismissal_kind, cumulative_runs, over_ball, season, city, date, match_type, player_of_match, venue, team1, team2, toss_winner, toss_decision, winner, result, result_margin, target_runs, target_overs, super_over, is_super_over, margin_per_ball]
Index: []

[0 rows x 36 columns]

In [ ]:
print(matches.head())
print(deliveries.head())

    season        city        date match_type player_of_match  \
0  2007/08   Bangalore  18-04-2008     League     BB McCullum
1  2007/08  Chandigarh  19-04-2008     League      MEK Hussey
2  2007/08       Delhi  19-04-2008     League     MF Maharoof
3  2007/08      Mumbai  20-04-2008     League      MV Boucher
4  2007/08     Kolkata  20-04-2008     League       DJ Hussey

                                        venue                        team1  \
0                       M Chinnaswamy Stadium  Royal Challengers Bangalore
1  Punjab Cricket Association Stadium, Mohali                 Punjab Kings
2                            Feroz Shah Kotla               Delhi Capitals
3                            Wankhede Stadium               Mumbai Indians
4                                Eden Gardens        Kolkata Knight Riders

                         team2                  toss_winner toss_decision  \
0        Kolkata Knight Riders  Royal Challengers Bangalore         field
1          Chennai Super Kings          Chennai Super Kings           bat
2             Rajasthan Royals             Rajasthan Royals           bat
3  Royal Challengers Bangalore               Mumbai Indians           bat
4              Deccan Chargers              Deccan Chargers           bat

                        winner   result  result_margin  target_runs  \
0        Kolkata Knight Riders     runs            140          223
1          Chennai Super Kings     runs             33          241
2               Delhi Capitals  wickets              9          130
3  Royal Challengers Bangalore  wickets              5          166
4        Kolkata Knight Riders  wickets              5          111

   target_overs super_over  is_super_over  margin_per_ball  match_id
0          20.0          N          False         1.166667         1
1          20.0          N          False         0.275000         2
2          20.0          N          False         0.075000         3
3          20.0          N          False         0.041667         4
4          20.0          N          False         0.041667         5
   match_id  inning           batting_team                 bowling_team  over  \
0    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore   0.0
1    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore   0.0
2    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore   0.0
3    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore   0.0
4    335982       1  Kolkata Knight Riders  Royal Challengers Bangalore   0.0

   ball       batter   bowler  non_striker  batsman_runs  extra_runs  \
0   1.0   SC Ganguly  P Kumar  BB McCullum           0.0         1.0
1   2.0  BB McCullum  P Kumar   SC Ganguly           0.0         0.0
2   3.0  BB McCullum  P Kumar   SC Ganguly           0.0         1.0
3   4.0  BB McCullum  P Kumar   SC Ganguly           0.0         0.0
4   5.0  BB McCullum  P Kumar   SC Ganguly           0.0         0.0

   total_runs extras_type  is_wicket player_dismissed dismissal_kind  \
0         1.0     legbyes        0.0              NaN            NaN
1         0.0         NaN        0.0              NaN            NaN
2         1.0       wides        0.0              NaN            NaN
3         0.0         NaN        0.0              NaN            NaN
4         0.0         NaN        0.0              NaN            NaN

   cumulative_runs  over_ball
0              1.0        0.1
1              1.0        0.2
2              2.0        0.3
3              2.0        0.4
4              2.0        0.5

In [ ]:
print("Unique match_ids in Deliveries:", deliveries['match_id'].unique()[:10])

Unique match_ids in Deliveries: [335982 335983 335984 335985 335986 335987 335988 335989 335990 335991]

In [ ]:
print(matches[['date', 'team1', 'team2']].head(10))

         date                        team1                        team2
0  18-04-2008  Royal Challengers Bangalore        Kolkata Knight Riders
1  19-04-2008                 Punjab Kings          Chennai Super Kings
2  19-04-2008               Delhi Capitals             Rajasthan Royals
3  20-04-2008               Mumbai Indians  Royal Challengers Bangalore
4  20-04-2008        Kolkata Knight Riders              Deccan Chargers
5  21-04-2008             Rajasthan Royals                 Punjab Kings
6  22-04-2008              Deccan Chargers               Delhi Capitals
7  23-04-2008          Chennai Super Kings               Mumbai Indians
8  24-04-2008              Deccan Chargers             Rajasthan Royals
9  25-04-2008                 Punjab Kings               Mumbai Indians

In [ ]:
unique_match_ids = deliveries['match_id'].unique()

In [ ]:
if len(unique_match_ids) == len(matches):
    matches['match_id'] = unique_match_ids
else:
    print("Mismatch in match count! Need a different approach.")

Mismatch in match count! Need a different approach.

In [ ]:
print("Total matches in Matches dataset:", matches.shape[0])
print("Total unique match_ids in Deliveries dataset:", deliveries['match_id'].nunique())

Total matches in Matches dataset: 1095
Total unique match_ids in Deliveries dataset: 130

In [ ]:
print("Total matches in Matches dataset:", matches.shape[0])
print("Total unique match_ids in Deliveries dataset:", deliveries['match_id'].nunique())

Total matches in Matches dataset: 1095
Total unique match_ids in Deliveries dataset: 130

In [ ]:
print("\nSample deliveries dataset (first 10 unique match_ids):")
print(deliveries['match_id'].unique()[:10])

Sample deliveries dataset (first 10 unique match_ids):
[335982 335983 335984 335985 335986 335987 335988 335989 335990 335991]

In [ ]:
print("Total matches in Matches dataset:", matches.shape[0])
print("Total unique match_ids in Deliveries dataset:", deliveries['match_id'].nunique())

Total matches in Matches dataset: 1095
Total unique match_ids in Deliveries dataset: 130

In [ ]:
match_ids_in_deliveries = set(deliveries['match_id'].unique())

In [ ]:
print("First 10 dates in Matches dataset:\n", matches['date'].head(10))
print("\nFirst 10 match_ids in Deliveries dataset:\n", deliveries['match_id'].unique()[:10])

First 10 dates in Matches dataset:
 0    18-04-2008
1    19-04-2008
2    19-04-2008
3    20-04-2008
4    20-04-2008
5    21-04-2008
6    22-04-2008
7    23-04-2008
8    24-04-2008
9    25-04-2008
Name: date, dtype: object

First 10 match_ids in Deliveries dataset:
 [335982 335983 335984 335985 335986 335987 335988 335989 335990 335991]

In [ ]:
matches['match_id'] = matches['date'].astype(str) + "_" + matches['team1'] + "_" + matches['team2']
matches_in_both = matches[matches['match_id'].isin(match_ids_in_deliveries)]

In [ ]:
print("\nNumber of Matches present in both datasets:", matches_in_both.shape[0])

Number of Matches present in both datasets: 0

In [ ]:
print("Unique match_id values in Deliveries dataset:", deliveries['match_id'].unique()[:10])

Unique match_id values in Deliveries dataset: [335982 335983 335984 335985 335986 335987 335988 335989 335990 335991]

In [ ]:
matches['date'] = pd.to_datetime(matches['date']).dt.strftime('%Y-%m-%d')

matches['match_key'] = matches['date'] + "_" + matches['team1'] + "_" + matches['team2']

In [ ]:
first_delivery_per_match = deliveries.groupby('match_id').first().reset_index()

In [ ]:
print(deliveries.columns.tolist())

['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind', 'cumulative_runs', 'over_ball']

In [ ]:
print(first_delivery_per_match.columns.tolist())

['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind', 'cumulative_runs', 'over_ball']

In [ ]:
matches['date'] = pd.to_datetime(matches['date']).dt.strftime('%Y-%m-%d')

In [ ]:
matches['match_key'] = matches['date'] + "_" + matches['team1'] + "_" + matches['team2'] + "_" + matches['venue']

In [ ]:
print(matches[['match_key']].head())

                                           match_key
0  2008-04-18_Royal Challengers Bangalore_Kolkata...
1  2008-04-19_Punjab Kings_Chennai Super Kings_Pu...
2  2008-04-19_Delhi Capitals_Rajasthan Royals_Fer...
3  2008-04-20_Mumbai Indians_Royal Challengers Ba...
4  2008-04-20_Kolkata Knight Riders_Deccan Charge...

In [ ]:
print(deliveries.columns.tolist())

['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind', 'cumulative_runs', 'over_ball']

In [ ]:
matches['match_key'] = matches['team1'] + "_" + matches['team2'] + "_" + matches['venue']

In [ ]:
print(matches[['match_key']].head())

                                           match_key
0  Royal Challengers Bangalore_Kolkata Knight Rid...
1  Punjab Kings_Chennai Super Kings_Punjab Cricke...
2   Delhi Capitals_Rajasthan Royals_Feroz Shah Kotla
3  Mumbai Indians_Royal Challengers Bangalore_Wan...
4  Kolkata Knight Riders_Deccan Chargers_Eden Gar...

In [ ]:
print(matches.columns.tolist())  # Ensure 'match_key' is in the list
print(matches[['match_key']].head())  # Check the first few rows of match_key

['season', 'city', 'date', 'match_type', 'player_of_match', 'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result', 'result_margin', 'target_runs', 'target_overs', 'super_over', 'is_super_over', 'margin_per_ball', 'match_id', 'match_key']
                                           match_key
0  Royal Challengers Bangalore_Kolkata Knight Rid...
1  Punjab Kings_Chennai Super Kings_Punjab Cricke...
2   Delhi Capitals_Rajasthan Royals_Feroz Shah Kotla
3  Mumbai Indians_Royal Challengers Bangalore_Wan...
4  Kolkata Knight Riders_Deccan Chargers_Eden Gar...

In [ ]:
deliveries['match_key'] = deliveries['batting_team'] + "_" + deliveries['bowling_team']

In [ ]:
print(deliveries[['match_key']].head())

                                           match_key
0  Kolkata Knight Riders_Royal Challengers Bangalore
1  Kolkata Knight Riders_Royal Challengers Bangalore
2  Kolkata Knight Riders_Royal Challengers Bangalore
3  Kolkata Knight Riders_Royal Challengers Bangalore
4  Kolkata Knight Riders_Royal Challengers Bangalore

In [ ]:
print(matches[['match_key']].head())

                                           match_key
0  Royal Challengers Bangalore_Kolkata Knight Rid...
1  Punjab Kings_Chennai Super Kings_Punjab Cricke...
2   Delhi Capitals_Rajasthan Royals_Feroz Shah Kotla
3  Mumbai Indians_Royal Challengers Bangalore_Wan...
4  Kolkata Knight Riders_Deccan Chargers_Eden Gar...

In [ ]:
merged_df = pd.merge(deliveries, matches, on='match_key', how='inner')

In [ ]:
merged_df.to_csv('/content/merged_ipl_data.csv', index=False)

In [ ]:
print("Merged Dataset Shape:", merged_df.shape)

Merged Dataset Shape: (0, 38)

In [ ]:
print(matches[['match_key']].head())

                                           match_key
0  Royal Challengers Bangalore_Kolkata Knight Rid...
1  Punjab Kings_Chennai Super Kings_Punjab Cricke...
2   Delhi Capitals_Rajasthan Royals_Feroz Shah Kotla
3  Mumbai Indians_Royal Challengers Bangalore_Wan...
4  Kolkata Knight Riders_Deccan Chargers_Eden Gar...

In [ ]:
print(deliveries[['match_key']].head())

                                           match_key
0  Kolkata Knight Riders_Royal Challengers Bangalore
1  Kolkata Knight Riders_Royal Challengers Bangalore
2  Kolkata Knight Riders_Royal Challengers Bangalore
3  Kolkata Knight Riders_Royal Challengers Bangalore
4  Kolkata Knight Riders_Royal Challengers Bangalore

In [ ]:
print(matches[['team1', 'team2']].head())

                         team1                        team2
0  Royal Challengers Bangalore        Kolkata Knight Riders
1                 Punjab Kings          Chennai Super Kings
2               Delhi Capitals             Rajasthan Royals
3               Mumbai Indians  Royal Challengers Bangalore
4        Kolkata Knight Riders              Deccan Chargers

In [ ]:
print(deliveries[['batting_team', 'bowling_team']].head())

            batting_team                 bowling_team
0  Kolkata Knight Riders  Royal Challengers Bangalore
1  Kolkata Knight Riders  Royal Challengers Bangalore
2  Kolkata Knight Riders  Royal Challengers Bangalore
3  Kolkata Knight Riders  Royal Challengers Bangalore
4  Kolkata Knight Riders  Royal Challengers Bangalore

In [ ]:
deliveries['match_key'] = deliveries['batting_team'] + "_" + deliveries['bowling_team']
deliveries['match_key_rev'] = deliveries['bowling_team'] + "_" + deliveries['batting_team']

In [ ]:
print(deliveries[['match_key', 'match_key_rev']].head())

                                           match_key  \
0  Kolkata Knight Riders_Royal Challengers Bangalore
1  Kolkata Knight Riders_Royal Challengers Bangalore
2  Kolkata Knight Riders_Royal Challengers Bangalore
3  Kolkata Knight Riders_Royal Challengers Bangalore
4  Kolkata Knight Riders_Royal Challengers Bangalore

                                       match_key_rev
0  Royal Challengers Bangalore_Kolkata Knight Riders
1  Royal Challengers Bangalore_Kolkata Knight Riders
2  Royal Challengers Bangalore_Kolkata Knight Riders
3  Royal Challengers Bangalore_Kolkata Knight Riders
4  Royal Challengers Bangalore_Kolkata Knight Riders

In [ ]:
merged_df = pd.merge(deliveries, matches, left_on='match_key', right_on='match_key', how='outer')
merged_df_rev = pd.merge(deliveries, matches, left_on='match_key_rev', right_on='match_key', how='outer')

In [ ]:
print("Merged Dataset (match_key):", merged_df.shape)
print("Merged Dataset (match_key_rev):", merged_df_rev.shape)

Merged Dataset (match_key): (31620, 39)
Merged Dataset (match_key_rev): (31620, 40)

In [ ]:
final_merged_df = pd.concat([merged_df, merged_df_rev]).drop_duplicates()

In [ ]:
print("Final Merged Dataset Shape:", final_merged_df.shape)

Final Merged Dataset Shape: (63240, 41)

In [ ]:
final_merged_df.to_csv('/content/final_merged_ipl_data.csv', index=False)

In [ ]:
print(final_merged_df.head())

   match_id_x  inning         batting_team     bowling_team  over  ball  \
0    336007.0     1.0  Chennai Super Kings  Deccan Chargers   0.0   1.0
1    336007.0     1.0  Chennai Super Kings  Deccan Chargers   0.0   2.0
2    336007.0     1.0  Chennai Super Kings  Deccan Chargers   0.0   3.0
3    336007.0     1.0  Chennai Super Kings  Deccan Chargers   0.0   4.0
4    336007.0     1.0  Chennai Super Kings  Deccan Chargers   0.0   5.0

     batter         bowler non_striker  batsman_runs  ...  result  \
0  PA Patel  DP Vijaykumar  SP Fleming           0.0  ...     NaN
1  PA Patel  DP Vijaykumar  SP Fleming           0.0  ...     NaN
2  PA Patel  DP Vijaykumar  SP Fleming           4.0  ...     NaN
3  PA Patel  DP Vijaykumar  SP Fleming           0.0  ...     NaN
4  PA Patel  DP Vijaykumar  SP Fleming           0.0  ...     NaN

   result_margin target_runs  target_overs super_over is_super_over  \
0            NaN         NaN           NaN        NaN           NaN
1            NaN         NaN           NaN        NaN           NaN
2            NaN         NaN           NaN        NaN           NaN
3            NaN         NaN           NaN        NaN           NaN
4            NaN         NaN           NaN        NaN           NaN

   margin_per_ball  match_id_y match_key_x match_key_y
0              NaN         NaN         NaN         NaN
1              NaN         NaN         NaN         NaN
2              NaN         NaN         NaN         NaN
3              NaN         NaN         NaN         NaN
4              NaN         NaN         NaN         NaN

[5 rows x 41 columns]